body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans SC', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;

}

h3 {
  display: block;
  font-size: 1.4em;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #627171;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background: white;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.app-container {
  display: flex;
  flex-direction: column;
}

.left-bar {
flex: 1
}

.right-bar {
flex: 1
}

.block {

}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  min-width: 850px;
  -webkit-box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  border-radius: 20px;
  padding: 30px;
}

.address-list {
  margin-bottom: 10px;
}

.address-form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.address-bar {
  display: flex;
  flex-direction: row;
}

input[type="number"] {
  margin-right: 10px;
  width: 40px;
}

.footer {
  margin: auto;
  margin-top: 10px;
}

.user-web3{
  text-align: center;
  color: chocolate;
  background: antiquewhite;
  border-radius: 5px;
}