body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background: white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  -webkit-box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  box-shadow: 4px 17px 129px -50px rgba(0,0,0,0.75);
  border-radius: 20px;
}

.block {
  margin: 10px;
  margin-bottom: 15px;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.address-list {
  margin-bottom: 10px;
}

.address-form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.address-bar {
  display: flex;
  flex-direction: row;
}